<h2><%= @question.body %></h2>
by <a href="/users/<%= @question.user.id %>"><%= @question.user.name %></a>
<% if @question.user == current_user %>
	<a href="/questions/<%= @question.id %>/update"><button>Edit question</button></a>
	<%= @vote_count %>
<% end %>

<% if logged_in? %>
	<h3>Post your answer</h3>
	<%= erb :"answer/new" %>
<% end %>

<% if @answers %>
	<% @answers.each do |answer| %>
		<p><%= answer.body %><br />by <a href="/users/<%= answer.user.id %>"><%= answer.user.name %></a></p>
		<% if answer.user == current_user %>
	<a href="/answers/<%= answer.id %>/update"><button>Edit answer</button></a>
<% end %>
	<% end %>
<% end %>