<div id="index-title">Questions For You</div>
<% if @questions %>
	<% @questions.each do |question| %>
		<hr>
		<% if question.answers.empty? %>
			<date>Question asked • <%= calculate_time_ago(question.created_at) %></date>
		<% else %>
			<date>Answer written • <%= calculate_time_ago(question.answers.last.created_at) %></date>
		<% end %>
		<h3>
			<a href="/questions/<%= question.id %>"><%= question.body %></a>
		</h3>
		<% if question.answers.empty? %>
			<% if logged_in? %>
				<button class="answer-button"><i class="fa fa-pencil"></i> Write answer</button>
				<div class="answer-box">
					<h3>Post your answer</h3>
					<form action="/answers/create" method="post">
						<textarea name="answer[body]" placeholder="Write your answer here"></textarea>
						<input type="hidden" name="answer[question_id]" value="<%= question.id %>">
						<input type="hidden" name="answer[user_id]" value="<%= current_user.id if logged_in? %>">
						<input type="submit" value="Submit">
					</form>
				</div>
			<% end %>
		<% else %>
			<div class="avatar-box-left">
				<img src="<%= question.answers.last.user.avatar %>" alt="<%= question.answers.last.user.name %>" class="avatar">
			</div>
			<div class="avatar-box-right">
				<a href="/users/<%= question.answers.last.user.id %>"><%= question.answers.last.user.name %></a><%= "<span style=\"font-family: sans-serif;\">, #{question.answers.last.user.description}</span>" if question.answers.last.user.description %><br>
				<date><%= pluralize(question.answers.last.user.questions.count, 'question') %> asked • <%= pluralize(question.answers.last.user.answers.count, 'question') %> answered</date>
			</div>
			<div class="clearfix"></div>
			<div class="answer">
				<%= question.answers.last.body[0..100].gsub(/\s\w+\s*$/,'...') %> (<a href="/questions/<%= question.id %>">more</a>)
			</div>
			<form action="/questions/<%= question.id %>/answer/<%= question.answers.last.id %>/upvote" method="post" class="form-inline">
				<button>Upvote<%= "&nbsp;<span class='bar'>&nbsp;</span>#{question.answers.last.count_votes}" if question.answers.last.count_votes != 0 %></button>
			</form>
			<form action="/questions/<%= question.id %>/answer/<%= question.answers.last.id %>/downvote" method="post" class="form-inline">
				<input type="submit" value="Downvote" class="downvote">
			</form>
		<% end %>
	<% end %>
<% end %>
<div class="pagination">
	<%= will_paginate @questions, previous_label: "Previous", next_label: "Next" %>
</div>