<div id="index-title">Questions For You</div>
<% if @questions %>
	<% @questions.each do |question| %>
		<hr>
		<% if question.answers.empty? %>
			<date>Question asked • <%= calculate_time_ago(question.created_at) %></date>
		<% else %>
			<date>Answer written • <%= calculate_time_ago(question.answers.last.created_at) %></date>
		<% end %>
		<h3>
			<a href="/questions/<%= question.id %>"><%= question.body %></a>
		</h3>
		<% if question.answers.empty? %>
			<button><i class="fa fa-pencil"></i> Write answer</button>
		<% else %>
			<div class="avatar-box-left">
				<img src="/img/mabul.jpg" alt="" class="avatar">
			</div>
			<div class="avatar-box-right">
				<a href="/users/<%= question.answers.last.user.id %>"><%= question.answers.last.user.name %></a><%= "<span style=\"font-family: sans-serif;\">, #{question.answers.last.user.description}</span>" if question.answers.last.user.description %><br>
				<date><%= pluralize(question.answers.last.user.questions.count, 'question') %> asked • <%= pluralize(question.answers.last.user.answers.count, 'question') %> answered</date>
			</div>
			<div class="clearfix"></div>
			<div class="answer">
				<%= question.answers.last.body[0..100].gsub(/\s\w+\s*$/,'...') %> (<a href="/questions/<%= question.id %>">more</a>)
			</div>
		
			<button>Upvote</button>
		<% end %>
	<% end %>
<% end %>