<h2>Edit your profile</h2>
<form action="/users/<%= current_user.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<label>Name</label>
	<input type="text" value="<%= current_user.name %>" name="user[name]">
	<label>Email</label>
	<input type="email" value="<%= current_user.email %>" name="user[email]">
	<label>Description</label>
	<input type="text" value="<%= current_user.description %>" name="user[description]">
	<label>Password</label>
	<input type="password" value="<%= current_user.password %>" name="user[password]">
	<br>
	<input type="submit" value="Update">
</form>