<div class="avatar-box-left">
	<img src="<%= @user.avatar %>" alt="<%= @user.name %>" class="avatar-large">
</div>
<div class="avatar-box-right">
	<br><br>
	<h1><%= @user.name %></h1>
	<div id="profile-description"><%= @user.description if @user.description %></div>
	<div id="profile-subtext">&nbsp;<%= @user.email %> • member since <%= calculate_time_ago(@user.created_at) %></div>
</div>
<div class="clearfix"></div>
<% if @user == current_user %>
	<a href="/logout" class="right"><button>Logout</button></a><a href="/users/<%= @user.id %>/update" class="right"><button>Edit profile</button></a>
<% end %>
<br><br>

<div id="half-left">
	<h4><%= pluralize(@user.questions.count, 'question') %> asked</h4>

	<% if @questions %>
		<% @questions.each do |question| %>
			<hr>
			<p>
				<a href="/questions/<%= question.id %>"><%= question.body[0..100].gsub(/\s\w+\s*$/,'...') %></a><br />
				<date>Question asked <%= calculate_time_ago(question.created_at) %> • <%= pluralize(question.answers.count, 'person') %> have answered</date>
			</p>
		<% end %>
	<% else %>
		<p>User has no questions</p>
	<% end %>
</div>
<div id="half-right">
	<h4><%= pluralize(@user.answers.count, 'question') %> answered</h4>
	<% if @answers %>
		<% @answers.each do |answer| %>
			<hr>
			<p>
				<a href="/questions/<%= answer.question.id %>"><%= answer.body[0..100].gsub(/\s\w+\s*$/,'...') %></a><br />
				<date>Question answered <%= calculate_time_ago(answer.created_at) %> in <a href="/questions/<%= answer.question.id %>"><%= answer.question.body[0..30].gsub(/\s\w+\s*$/,'...') %></a></date>
			</p>
		<% end %>
	<% else %>
		<p>User has no answers</p>
	<% end %>
</div>
<div class="clearfix"></div>