<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/application.css">
		<link rel="shortcut icon" href="/favicon.ico">
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="/js/application.js"></script>
		<title>Teng(Quora)k</title>
	</head>
	<body>
		<div id="navbar-container">
			<nav id="top-nav">
				<div id="nav-logo">
					<a href="/">Teng(Quora)k</a>
				</div>
				<div id="flex">
					<div id="nav-question">
						<form action="/questions/create" method="post">
							<input type="text" name="question[body]" placeholder="Ask Teng(Quora)k" id="question-box" />
						</form>
					</div>
					<div id="nav-user">
						<% if logged_in? %>
							<a href="/users/<%= current_user.id %>"><img src="/img/mabul.jpg" alt="" class="avatar avatar-img"></a>
							<span id="nav-username"><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></span>
						<% else %>
							<div class="button">
								<a href="/login">Sign in</a>
							</div>
						<% end %>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</nav>
		</div>
		<div id="main-container">
			<% if @message %>
				<div id="message-container">
					<%= @message %>
				</div>
			<% end %>
			<div id="container-left">
			<div class="container-title"><i class="fa fa-line-chart"></i> trending now</div>
			<hr>
			<ul>
			<% trendings.each do |question| %>
				<li><a href="/questions/<%= question.id %>"><%= question.body[0..30].gsub(/\s\w+\s*$/,'...')%></a></li>
			<% end %>
			</ul>
			</div>
			<div id="gutter">&nbsp;</div>
			<div id="container-content">
				<%= yield %>
			</div>
			<div id="gutter">&nbsp;</div>
			<div id="container-right">&nbsp;</div>
			<div class="clearfix"></div>
		</div>
		<footer>You are awesome for finding this hidden message! ("\( ^ o ^ )/")</footer>
	</body>
</html>