<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/application.css">
		<link rel="stylesheet" href="/css/login.css">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>Teng-Quora-k</title>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="/js/application.js"></script>
	</head>
	<body>
		<div id="navbar-container">
			<nav id="top-nav">
				<div id="nav-logo">
					<a href="/">Teng-Quora-k</a>
				</div>
				<div id="flex">
					<div id="nav-question">
						<form action="/questions/create" method="post">
							<input type="text" name="question[body]" placeholder="Ask Teng-Quora-k" id="question-box" />
						</form>
					</div>
					<div id="nav-user">
						<% if logged_in? %>
							<a href="/users/<%= current_user.id %>"><img src="/img/mabul.jpg" alt="" class="avatar avatar-img"></a>
							<span id="nav-username"><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></span>
						<% else %>
							<div class="button">
								<a href="/login" class="login">Sign in</a>
							</div>
						<% end %>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</nav>
		</div>
		<div id="main-container">
			<% if @index %>
				<% if @message %>
					<div id="message-container">
						<%= @message %>
					</div>
				<% end %>
				<div id="container-left">
					<div class="container-title"><i class="fa fa-line-chart"></i> trending now</div>
					<hr>
					<ul>
					<% trendings.each do |question| %>
						<li><a href="/questions/<%= question.id %>"><%= question.body[0..30].gsub(/\s\w+\s*$/,'...')%></a></li>
					<% end %>
					</ul>
				</div>
				<div id="gutter">&nbsp;</div>
				<div id="container-content">
					<%= yield %>
				</div>
				<div id="gutter">&nbsp;</div>
				<div id="container-right">
					<div class="container-title"><i class="fa fa-users"></i> active users</div>
					<hr>
					<ul>
					<% actives.each do |user| %>
						<li class="list-user">
							<div class="avatar-box-left">
								<img src="<%= user.avatar %>" alt="<%= user.name %>" class="avatar-small">
							</div>
							<div class="avatar-box-right">
								<span><a href="/users/<%= user.id %>"><%= user.name %></a></span><br>
								<date><%= pluralize(user.answers.count, 'question') %> answered</date>
							</div>
							<div class="clearfix"></div>
						</li>
					<% end %>
					</ul>
				</div>
					<div class="clearfix"></div>
			<% else %>
				<%= yield %>
			<% end %>
		</div>
		
		<!-- modal content -->
		<div id="login-modal-content">
			<div id="login-modal-title">Teng-Quora-k</div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="login-modal-data">
				<%= erb :"user/new" %>
				<!-- <p><button class="simplemodal-close">Close</button> <span>(or press ESC or click the overlay)</span></p> -->
			</div>
		</div>
		<footer>You are awesome for finding this hidden message! ("\( ^ o ^ )/")</footer>
		<script src="/js/jquery.simplemodal-1.4.4.js"></script>
		<script src="/js/login.js"></script>
	</body>
</html>